<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/apply.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Application</h1>
            <h3>Fill out the form to get a job!</h3>
            <br />
        </div>
    </div>
</div>

<div class="card card-form">
    <h3 class="title" style="text-align: center">Fill out the form</h3>
    <form>
        <div class="form-row justify-content-center">
            <div class="form-group col-md-5">
                <label for="inputFirst">First Name </label>
                <input type="text" class="form-control" id="inputFirst" placeholder="First Name">
            </div>
            <div class="form-group col-md-5">
                <label for="inputPassword4">Last Name</label>
                <input type="text" class="form-control" id="inputLast" placeholder="Last Name">
            </div>
        </div>

        <div class="form-row justify-content-center">
            <div class="form-group col-md-10">
                <label for="inputBirth">Date Of Birth</label>
                <input type="date" class="form-control" id="inputBirth" placeholder="18/06/1995">
            </div>
            <div class="form-group col-md-10">
                <label for="inputEmail">Email Adress</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="user@exemple.com">
            </div>
            <div class="form-group col-md-10">
                <label for="inputPhone">Phone Number</label>
                <input type="email" class="form-control" id="inputPhone" placeholder="+213659949808">
            </div>
            <div class="form-group col-md-10">
                <label> Upload Your CV </label> 
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                    <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                </div>
            </div>
            
            <div class="form-group col-md-10">
                    <label> Category </label> 
                    <div class="form-check-radio">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" >
                              Informatica
                              <span class="form-check-sign"></span>
                            </label>
                          </div>
            </div>
            <div class="form-group col-md-10">
                    <div class="form-check-radio">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" >
                              Comercial
                              <span class="form-check-sign"></span>
                            </label>
                          </div>
            </div>
            <div class="form-group col-md-10">
                    <div class="form-check-radio">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" >
                              Sanidad
                              <span class="form-check-sign"></span>
                            </label>
                          </div>
            </div>
            <div class="form-group col-md-10">
                    <div class="form-check-radio">
                            <label class="form-check-label">
                              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" >
                              Sanidad
                              <span class="form-check-sign"></span>
                            </label>
                          </div>
            </div>
        </div>
        <br/>
        <button type="submit" class="col-md-4 offset-md-4 btn btn-primary"> Apply Now</button>
    </form>
</div>
